.coup-cont{
	border: 2px solid #ccc;
	padding:20px;
	width: 24%;
	gap: 10px;
}

#coup-amount{
	font-size: 24px;
	padding: 12px 20px;
	border: 2px dashed #aaa;
	background-color: #eee;
	text-transform: uppercase;
}

.coup-code{
	background-color: #eee;
	padding: 8px 12px;
}

#coup-copy{
	padding:12px 30px;
}

#coup-copy i{
	color: #bbb;
}